* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body{
    background: linear-gradient(112deg, rgb(224, 255, 244), white);
    height: 100vh;
    width: auto;
}



*::selection {
    background-color: rgb(141, 255, 213); 
}
h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    letter-spacing: 1px;
}
p{
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 500;
}
a{
    width: fit-content;
}

/* Navbar Styles */
.navbar {
    padding: 20px 0 20px 20px;
    display: flex;
    justify-content: end;
    position: sticky;
    border-bottom: 1.5px solid black;
    width: 90%;
    margin: 0 auto;
}
.linkStyleOne, .linkStyleTwo {
    margin-left: 20px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.linkStyleOne {
    color: black;
    font-weight: 500;
    background-color: rgb(115, 255, 204);
    border-radius: 10px;
}
.linkStyleTwo{
    color: rgb(78, 78, 78);
    font-weight: 500;
}
.linkStyleOne:hover, .linkStyleTwo:hover {
    color: black;
}
.pictureDiv{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}
.introDiv{
    width: 50%;
    margin: 30px 0 10px 60px;
    padding: 20px; 
    background-color: white;
}

/* About Me page */

#me{
    width: 40%;
    height: auto;
    border-radius: 20px;
    box-shadow: 7px 7px 5px #404040;
}
#mainBackground{
    background-image: url(/resources/Images/marble.png); 
    background-size: cover;
}
.spaceBottom{
    margin-bottom: 7px;
}
#Jordan{
    margin-bottom: 7px;
    font-size: 40px;
}
.boxDiv{
    background-color: rgb(110, 228, 185);
    height: 35%;
    width: 45%;
    position: absolute;
    left: 25%;
    top: 30%;
    z-index: -1;
    border-radius: 20px;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Project Page */
#projectDiv{
    margin-bottom: 30px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;

}
.cardDiv{
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    box-shadow: 5px 5px 5px #404040;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px 10px;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: white;
}
.cardImage{
    width: 100%;
    border-radius: 6px;
}
.cardTitle{
    padding: 5px;
    background-color: rgb(118, 245, 199);
    margin: 5px;
    font-weight: bolder;
    border-radius: 6px;
}
.button{
    text-decoration: none;
    color: blue;
    font-weight: 500;
    border-bottom: 1px solid black;
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

/* Media Queries  */

@media (max-width: 667px) {
    .navbar{
        justify-content: space-around;
        padding: 20px 20px 20px 20px;
    }
    .linkStyleOne, .linkStyleTwo {
        margin: 0 10px 0 10px;
    }
    #Jordan{
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    .introDiv{
        width: 80%;
        margin: 10px 
    }
    #me{
        width: 70%;
    }
    .pictureDiv{
        flex-direction: column-reverse;
        align-items: center;
    }
    .icons{
        margin-top: 40px;
        flex-direction: row;
        justify-content: space-around;
    }
    .icon{
        margin-right: 20px;
    }
    .boxDiv{
        box-shadow: none;
    }
}